<h3 id="heading">Terms and Conditions</h3>

<ol class="terms">
  <ul>
   <li>
     Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus alias, delectus fugiat illum nisi officia provident quaerat quam quia saepe, sit unde veniam. Cumque deleniti distinctio illo nam ratione!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. At atque, iure necessitatibus odit officiis omnis placeat ratione recusandae repellat saepe sit ullam vitae voluptate? Aspernatur blanditiis maxime omnis quibusdam temporibus.
      <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci cupiditate debitis expedita facere id
        incidunt ipsa iste, laudantium molestiae non odit omnis pariatur praesentium qui quibusdam repellat, ut
        voluptas?
      </div>
      <div>Ab accusantium, architecto at blanditiis consequatur corporis debitis deleniti dolorum ea earum facere illo
        incidunt inventore, laborum minus modi nostrum numquam obcaecati possimus praesentium quae repellat
        reprehenderit, sed sunt voluptas.
      </div>
      <div>Aliquam amet animi assumenda at aut consequuntur, cum cumque deserunt doloribus ducimus est exercitationem
        explicabo facilis harum impedit iste laboriosam necessitatibus nemo quas quia ratione recusandae, sapiente sunt
        vel voluptates.
      </div>
   </li>

    <li>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus alias, delectus fugiat illum nisi officia provident quaerat quam quia saepe, sit unde veniam. Cumque deleniti distinctio illo nam ratione!
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. At atque, iure necessitatibus odit officiis omnis placeat ratione recusandae repellat saepe sit ullam vitae voluptate? Aspernatur blanditiis maxime omnis quibusdam temporibus.
      <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci cupiditate debitis expedita facere id
        incidunt ipsa iste, laudantium molestiae non odit omnis pariatur praesentium qui quibusdam repellat, ut
        voluptas?
      </div>
      <div>Ab accusantium, architecto at blanditiis consequatur corporis debitis deleniti dolorum ea earum facere illo
        incidunt inventore, laborum minus modi nostrum numquam obcaecati possimus praesentium quae repellat
        reprehenderit, sed sunt voluptas.
      </div>
      <div>Aliquam amet animi assumenda at aut consequuntur, cum cumque deserunt doloribus ducimus est exercitationem
        explicabo facilis harum impedit iste laboriosam necessitatibus nemo quas quia ratione recusandae, sapiente sunt
        vel voluptates.
      </div>
    </li>


  </ul>
</ol>
